@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Titillium+Web:wght@400;600;700&display=swap');
p,
span,
h1,
h2,
h3,
h4,
ul,
li,
body {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Titillium Web'
    
}
.container{
    max-width: 1344px;
    margin: 0 auto;
}

.header{
    padding: 20px 0;
    background-color: rgba(16, 16, 16, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    margin-right: 72px;
    width: 57px;
    height: 41px;
}
.header-list{
    margin-right: 71px;
    display: flex;
}
.header-list__item{
    margin-right: 38px;
}
.header-list__item:last-child{
    margin-right: 0;
}
.header-list__item a{
    text-decoration: none;
    
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    font-family: 'Titillium Web';
}
.header__button{
    padding: 13.5px 33.5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.005em;
    color: #73F25F;
    border: 1px solid #FFFFFF;
    background-color: rgba(16, 16, 16, 1);
    font-family: 'Titillium Web';
    cursor: pointer;

}
.header__button:hover{
    background-color: #73F25F ;
    color: rgba(16, 16, 16, 1);
    border: 1px solid rgba(16, 16, 16, 1);
}


/* Список из карточек с работой */

.title{
    margin: 80px 0 8px;
    font-weight: 600;
    font-size: 40px;
    line-height: 61px;
    color: #101010;
    text-align: center;
    font-family: 'Titillium Web';

}
.subtitle{
    margin-bottom: 32px;
    font-family: 'Titillium Web';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #6D7582;

}
.work{
    margin-bottom: 48px;
    display: flex;
}
.wrap-work__card{

}
.work-card{
    margin-right: 20px;
    padding: 24px;
    border: 1px solid rgba(47, 47, 47, 0.2);
    width: 280px;
}
.work-card:last-child{
    margin-right: 0;
}
.work-card__icon{
    margin-top: 24px;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;

}
.work-card__title{
  
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 24px;
    line-height: 37px;
    color: #101010;
   
}
.work-card__subtitle{
   
    margin-bottom: 34px;

}
.work-card__subtitle:nth-child(3){
    margin-bottom: 10px;
}
.work-card__subtitle:nth-child(4){
    margin-bottom: 10px;
}






/* Список из карточек с менеджерами */

.manager{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}
.manager-card{
    margin-bottom: 20px;
    padding: 24px 16px 24px 32px;
    background-color: rgba(16, 16, 16, 1);

}
.manager-card:hover{
    background-color: #73F25F;
    color:#101010 ;
}
.manager-card__title:hover{
    color: #101010;
}
.manager-card__img:hover{

}
.manager-card__button:hover{
    background: #101010;
    color: #FFFFFF;

}
.manager-card:last-child{
    margin-bottom: 0;
}
.wrap-manager__top{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;

}
.manager-card__title{
    font-weight: 600;
    font-size: 32px;
    line-height: 49px;
    color: #FFFFFF;

}
.manager-card__img{
    width: 46px;
    height: 46px;

}
.manager-card__button{
    padding: 4px 20px;
    margin-right: 16px;
    border: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    background: rgba(109, 117, 130, 0.4);
    
}
.manager-card__button:last-child{
    margin-right: 0;
}




/* Ссылки на подачу заявок и резюме */

.applications{
    margin-bottom: 29px;
    display: flex;

}
.link{
    padding: 108px 148px;
    margin-right: 20px;
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid rgba(47, 47, 47, 0.2);
    position: relative;
    flex-basis: calc(100%/2);
}
.link:last-child{
    margin-right: 0;
}
.link__span{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px; 
    color: #6D7582;
    position: absolute;
    top: 20px;
    left: 32px;
}
.wrap-link{
 display: flex;
 align-items: center;
 justify-content: center;
}
.wrap-link__text{
    margin-right: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 37px;
    color: #101010;

}
.wrap-link__icon{
    width: 16px;
    height: 16px;
}


/* Форма для получения информации на почту */

.informations{
    margin-bottom:107px ;
    padding: 24px 0 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(16, 16, 16, 1) ;
}
.informations__title{
    margin-bottom: 42px;
    font-weight: 600;
    font-size: 32px;
    line-height: 49px;
    color: #FFFFFF;

}
.informations__subtitle{
    margin-bottom: 18px;
    color: #6D7582;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

}
.informations-form{

}
.informations-form__input{
    padding: 13.5px 137px 13.5px 16px;
    margin-right: 20px;
    color: rgba(109, 117, 130, 0.6);
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    font-family: 'Titillium Web';
    background-color:  #101010;
    border: 1px solid #2F2F2F;;
}
.informations-form__button{
    padding: 13.5px 76px;
    font-family: 'Titillium Web';
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #73F25F;
    background-color:rgba(16, 16, 16, 1) ;
    border: 1px solid #FFFFFF;
}
.informations-form__button:hover{
    background-color: #73F25F ;
    color: rgba(16, 16, 16, 1);
    border: 1px solid rgba(16, 16, 16, 1);
}






/* Футер */


.footer{
    padding-top: 44px;
    padding-bottom: 20px;
    background: #101010;
}
.footer__top{
    display: flex;
}


/* Левый блок футера */



.footer__left{
 display: flex;
 flex-direction: column;
 
}
.footer__img{
    margin-bottom: 68px;
    margin-left: 37px;
    width: 527px;
    height: 403px;
}
.footer-list{
    margin: 0 21px 48px;
    display: flex;
    flex-wrap: wrap;
    width: 590px;
    

}
.footer-list__item{
    margin-right: 76px;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
}
.footer-list__item:last-child{
    margin-right: 0;
}
.footer-list__item:nth-child(5){
    margin-right: 95px;
}
.footer-list__item:nth-child(6){
    margin-right: 124px;
}

.footer-informations{
    margin-left: 21px;
    margin-bottom: 24px;
    display: flex;
   
    align-items: center;
    width: 390px;
}

.footer-informations__logo{
    margin-right: 20px;
    width: 70px;
    height: 50px;
}
.footer-informations__text{
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: rgba(109, 117, 130, 0.8);
}



/* Правый блок футера */


.footer__title{
    margin-bottom: 32px;
    margin-left: 75px;
    font-weight: 600;
    font-size: 40px;
    line-height: 61px;
    
    color: #FFFFFF;
}
.footer-form{
    margin-left: 49px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-form__input{

    margin-bottom: 20px;
    padding: 17.5px 0 17.5px 16px ;
    width: 480px;
    border: 1px solid #2F2F2F;
    background-color: rgba(16, 16, 16, 1);
    font-family: 'Titillium Web';
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: rgba(109, 117, 130, 0.6);
}

.footer-form__textarea{
    margin-bottom: 32px;
    padding: 16px 0 0 16px;
    width: 480px;
    background-color: rgba(16, 16, 16, 1);
    border: 1px solid #2F2F2F;
    font-family: 'Titillium Web';
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: rgba(109, 117, 130, 0.6);
    resize: none;
}

.footer-form__button{
    padding: 12.5px 62.5px 13.5px 62.5px;
    margin-bottom: 81px;
    display: flex;
    background: #73F25F;
    width: 200px;
    cursor: pointer;
    
}
.footer-form__button:hover{
    background: #FFFFFF;
    color: #101010;
}
.footer-form__button-icon{
    margin-left: 20px;
    
}

.footer-social{
    margin-bottom: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-social__item{
    padding: 8px;
    margin-right: 33px;
    border: 1px solid #2F2F2F;
}
.footer-social__item:last-child{
    margin-right: 0;
}
.footer-social__item-icon{
    width: 24px;
    height: 24px;
}

/* Самый нижний блок футера */

.footer__low{
    padding: 20px 24px 20px 21px;
    display: flex;
    justify-content: space-between;
}
.low__span{
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #6D7582;
}
.low-social__link{
    margin-right: 48px;
    text-decoration: none;
    font-family: 'Titillium Web';
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #6D7582;

}
.low-social__link:last-child{
    margin-right: 0;
}
.low-social__link-arrow{
    margin-left: 10px;
    width: 16px;
    height: 16px;
}

@media screen and (max-width:1364px) {
    .container{
        max-width: 1024px;
    }
    /*header  */
    .header-list__item{
        margin-right: 30px;
    }
    .header-list__item a{
        font-size: 12px;
    }
    .header__button{
        font-size: 12px;
    }

    /* foooter */
    .footer__top{
        flex-direction: column-reverse;
    }
    .footer__left{
        justify-content: center;
        align-items: center;
    }
    .footer__img{
        margin-left: 0;
    }
    .footer-list{
        width: 100%;
        margin: 0 0 48px;
        justify-content: space-around;
        
    }
    .footer-list__item{
        margin: 0;
    }
    .footer-list__item:nth-child(5){
        margin: 0;
    }
    .footer-list__item:nth-child(6){
        margin: 0;
    }
}
@media screen and (max-width:1130px){
    .container{
        max-width: 768px;
    }
    /* header */
    .header{
        justify-content: space-around;
    }
    .header-list{
        display: none;
    }
    
    /* main */

    .applications{
        flex-direction: column;
    }
    .link{
        margin-bottom: 20px;
    }

}
@media screen and (max-width:1130px){
    .container{
        max-width: 600px;
    }
    /* main */
    .title{
        margin: 30px 0 0;
        font-size: 30px;
    }
    .subtitle{
        margin-bottom: 20px;
        font-size: 14px;
    }
    .work{
        flex-direction: column;
    }
    .work-card{
        padding: 0;
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }
    .work-card:last-child{
        margin-bottom: 0;
    }
    .wrap-work__card{
        margin: 10px;
    }
    .link:first-child{
        margin-right: 0;
    }
    .informations__title{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .informations__subtitle{
        font-size: 14px;
        text-align: center;
    }
    .informations-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .informations-form__input{
        margin-right: 0;
        margin-bottom: 10px;

    }
    .manager-card__title{
        font-size: 22px;
    }

    /* footer */


    .footer__title{
        margin-left: 0;
        
        text-align: center;
        font-size: 24px;
    }

    .footer-form{
        margin: 0px;
    


    }
    .footer-form__input{
        width: initial;
        padding: 5px 0 5px 5px;
    }
    .footer-form__textarea{
        width: initial;
    }
    .footer-form__button{
        margin-bottom: 30px;
        margin-left: 10px;
    }
    .footer-social{
        margin-bottom: 14px;
        flex-wrap: wrap;
    }
    .footer-social__item{
        margin-bottom: 10px;
    }
    .footer__img{
        width: 100%;
    }
    .footer-informations{
        width: initial;
    }
    .footer-list__item{
        margin-right: 15px;
    }
    .low__span{
        margin-right: 15px;
    }
    .low-social__link{
        margin-right: 22px;
    }
    .low-social__link-arrow{
        margin-left: 2px;
    }
}
@media screen and (max-width:768px){
    .container{
        max-width: 468px;
    }
}

